$font-stack: 'Changa', sans-serif;
$font-size: 68px;
$width: 690px;
$height: 460px;
$mar-b: 40px;

@mixin box () {
  width: $width;
  height: $height;
  line-height: $height;
  text-align: center;
  margin-bottom: $mar-b;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  font: 100% $font-stack;
  font-size: $font-size;
}

.box {
  @include box;
}

.black {
  background: black;
}

#hex-box {
  @include box;
}
